/* Custom style for the block */
@import url('https://fonts.googleapis.com/css?family=Istok+Web|Lato:700&display=swap');
.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;

	color: #212121;
	font: 18px/1.6 "Istok Web", sans-serif;
	padding: 90px 60px 0;
}
.hero__image {
	min-width: 470px;
	margin-right: 40px;
}
.hero h2 {
	font: bold 60px/1.3 Lato, sans-serif;
	margin: 0 0 11px;
}
.hero h3 {
	font-size: 24px;
	font-family: inherit;
	font-weight: 400;
	line-height: 1.3;
	text-transform: uppercase;
}
.hero__line {
	margin: 24px 0 34px;
	width: 60px;
	height: 2px;
	background: #ff5722;
}
.hero__button {
	border: 2px solid #212121;
	font-weight: 700;
	font-size: 14px;
	display: inline-block;
	text-align: center;
	line-height: 1;
	padding: 13px 20px;
	text-transform: uppercase;
	text-decoration: none;
	transition: all .3s;
	color: #212121;
}
.hero__button:hover {
	background: #212121;
	color: #fff;
	text-decoration: none;
}
.hero__content,
.hero__signature {
	margin-bottom: 30px;
}
